* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
.contenedor-pedidos{
    border: 1px solid #E8AB58;
    background-color: rgba(176, 227, 217, 0.5);
    width: 598px;
    height: 736px;
    margin: 238px 721px;
    padding: 20px;
    border-radius: 20px;
}
.contenedor-pedidos header{
    color: #8C56B5;
    padding: 10px;
    border-bottom: 1px solid #000;
    font-weight: 700;
}
.main{
    font-size: 30px;

}
.lista-productos{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 86px;
}
.lista-productos li{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
}
.contador{
    display: flex;
    justify-content: center;
    align-items: center;
}
.precio{
    text-align: right;
}
footer{
    display: flex;
    justify-content: center;
}
.lista-productos button{
    width: 40px;
    height: 40px;
}
.impuestos{
    padding: 22px 0px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}
.total{
    display: flex;
    justify-content: space-between;
    margin: 77px 0px;
    font-weight: bold;
}
.enviar{
    width: 387px;
    height: 66px;
    background: #0C3F78;
    color: white;
    border-radius: 7px;
}
