
* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .login-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 1366px;
      background-image: url(https://www.solofondos.com/wp-content/uploads/2015/11/fondo-del-espacio-universo-estrellas-space-wallpaper-download-55f6f9c842ca4.jpg);
    }

    .logo{
      width: 467px;
      height: 422px;
    }

    input, button {
      width: 45%;
      height: 97px;
      border-radius: 10px;
      margin: 20px;
      text-align: center;
      font-size: 30px;
    }
    .iniciar-sesion{
      background-color: #44CBD3;
    }
  }

